<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head')  %>
</head>
<body>
  <%- include('partials/navigation') %>
  <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
      <h1 class="display-1">About</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste obcaecati ut inventore sed optio voluptate asperiores corrupti, a dignissimos necessitatibus et aperiam nisi fuga laborum iusto quisquam quidem neque dolorum nemo. Delectus similique repudiandae eligendi quibusdam dolore aperiam! Error reprehenderit vitae doloremque rem dolores, asperiores nostrum nobis voluptatem autem veniam consequatur earum commodi ad iste voluptatum, tenetur nihil eum odit ratione delectus necessitatibus. Et, in quae! Laudantium soluta aut ab nesciunt, sequi, ex adipisci saepe dolorum totam harum et magni ad optio? Dolores magnam deleniti, ratione ut illum voluptatibus voluptatem sed eum voluptas ullam dolorem, commodi vero natus dolorum ipsam omnis eligendi soluta quos molestiae enim libero, veniam praesentium amet harum. Ad laboriosam voluptatum blanditiis reprehenderit aperiam quo? Aspernatur omnis saepe quis expedita, quo inventore! Amet, nesciunt modi ea hic voluptate quam repellendus quis dolores recusandae reprehenderit aliquam. Necessitatibus quisquam sed pariatur optio sequi officia quaerat expedita laudantium quo eius similique enim voluptas suscipit obcaecati consectetur deleniti eum, magni nam possimus totam quos. Tempora sit at fugiat ex a similique repellendus asperiores! Accusantium libero quaerat, reiciendis mollitia cumque minus enim nemo qui similique consectetur ullam natus! Rerum vel eius nihil doloribus earum neque unde hic blanditiis dicta possimus inventore nesciunt necessitatibus quae culpa, at labore? Excepturi temporibus blanditiis quidem, cumque doloribus nam in rem iusto, corporis earum optio odit ut esse! Voluptate obcaecati consequatur laboriosam exercitationem ut impedit delectus molestiae iste non, sapiente odit, dolorum soluta? Inventore molestias, commodi id, quae harum omnis praesentium molestiae dicta eaque incidunt minima numquam libero quasi magnam? Voluptatum fugit aliquid quis, maiores repellat deserunt accusantium saepe ab animi necessitatibus dolorem minus delectus sequi quam officia eaque asperiores, culpa consectetur neque soluta. Officia veritatis ab temporibus dicta unde itaque necessitatibus voluptatum fugiat sunt corrupti libero doloribus, consequatur id sit, tempore, expedita facere. In, deleniti maxime?</p>
    </section>
  </main>
</body>
</html>