<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rendimiento Diario</title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/navigation') %>
    <div class="container mt-5 table-responsive">
      <div class="container text-center ">
        <h3 class="text-secondary"></h3>
        <button id="insertFormAmount" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalFormAccounts">
          Registrar
        </button>
      </div>
      <table class="table table-striped shadow p-3 mb-5 bg-body-tertiary rounded" style="width:100%" id="tableDailyTaxes">
        <thead>
          <th>ID</th>
          <th>FECHA</th>
          <th>CANTIDAD</th>
          <th>PORCENTAJE</th>
          <th>RENDIMIENTO ANUAL</th>
          <th>RENDIMIENTO MENSUAL</th>
          <th>RENDIMIENTO SEMANAL</th>
          <th>RENDIMIENTO DIARIO</th>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <!-- Modal Insert -->
    <div class="modal fade" id="modalFormAccounts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">REGISTRO</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="formAmount">
            <div class="modal-body">
              <div class="row">
                <div class="col mb-3">
                  <label for="date" class="form-label">FECHA</label>
                  <input id="date" type="date" class="form-control" name="date">
                </div>
                <div class="col mb-3">
                  <label for="bank" class="form-label">BANCO</label>
                  <select id="bank" class="form-select" aria-label="Default select example" name="bank">
                    <option selected disabled></option>
                    <option value="NU">NU</option>
                    <option value="CITIBANAMEX">CITIBANAMEX</option>
                    <option value="HSBC">HSBC</option>
                    <option value="BBVA">BBVA</option>
                    <option value="SANTANDER">SANTANDER</option>
                    <option value="HEY BANCO">HEY BANCO</option>
                    <option value="MERCADOPAGO">MERCADOPAGO</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="concept" class="form-label">MOVIMIENTO</label>
                  <input id="concept" type="text" class="form-control" name="concept">
                </div>
                <div class="col mb-3">
                  <label for="person" class="form-label">PERSONA</label>
                  <input id="person" type="text" class="form-control" name="person">
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="amount" class="form-label">MONTO</label>
                  <input id="amount" type="number" class="form-control" step="any" name="amount">
                </div>
                <div class="col mb-3">
                  <label for="msi" class="form-label">MSI</label>
                  <input id="msi" type="number" class="form-control" step="any" name="msi">
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="partiality" class="form-label">PARCIALIDAD</label>
                  <input id="partiality" type="text" class="form-control" name="partiality">
                </div>
                <div class="col mb-3">
                  <label for="miss_mounth" class="form-label">MES RESTANTE</label>
                  <input id="miss_mounth" type="number" class="form-control" step="any" name="miss_mounth" disabled>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="pay" class="form-label">PAGO</label>
                  <input id="pay" type="text" class="form-control" name="pay" disabled>
                </div>
                <div class="col col-6 mb-3">
                  <label for="miss_pay" class="form-label">PAGO RESTANTE</label>
                  <input id="miss_pay" type="number" class="form-control" step="any" name="miss_pay" disabled>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
</body>

</html>